services:
  {{ project }}-runtime:
    image: {{ runtime_image }}
    networks:
      - {{ network_internal }}
    volumes:
      - {{ volume_prefix }}-src:/src
    environment:
      ALLOW_RULES: {{ allow_rules | tojson }}
      DENY_RULES: {{ deny_rules | tojson }}
      PENTEST_AUTONOMY_MODE: "{{ autonomy_mode }}"

networks:
  {{ network_internal }}:
    driver: bridge
    internal: true

volumes:
  {{ volume_prefix }}-src:
